@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-outfit: "Outfit", serif;
}

@utility solution-bg {
  @apply w-full rounded-[19px] bg-gradient-to-tl from-[#027088cc] to-[#00232a33];
}

html,
body {
  width: 100%;
  background-color: #050d18;
  color: white;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: Outfit;
}
